<header class="header">
    <h3 class="header__text">Reporting /&nbsp;<b class="header__text--bold">Aimy Payments</b></h3>
</header>

<main class="dashboard">
    <div class="dashboard__container">
        <div class="dashboard__date">
            <p class="dashboard__text"> Vandaag</p>
            <button class="dashboard__chevron">
                <mat-icon>chevron_left</mat-icon>
            </button>
            <p class="dashboard__text"> {{today}} </p>
            <button class="dashboard__chevron">
                <mat-icon>chevron_right</mat-icon>
            </button>

        </div>

        <!-- <form action="" class="dashboard__dropdown">
            <label for="employee" class="dashboard__label">Werknemer</label>
            <select name="employee" id="employee" class="dashboard__select">
                <option value="all">Allemaal</option>
            </select>
        </form> -->

        <div class="dashboard__buttonbox">     
            <button class="dashboard__button">Printen</button>
            <button class="dashboard__button">Exporteer</button>
        </div>

    </div>

    <div class="charts">
        <div class="charts__container">
            <h3 class="charts__title">Overzicht per betaalmethode</h3>
    
            <mat-button-toggle-group class="charts__button" value="euro" #toggleGroup= "matButtonToggleGroup" >
                <mat-button-toggle value="euro">Euro (€)</mat-button-toggle>
                <mat-button-toggle value="aantal">Aantal</mat-button-toggle>
            </mat-button-toggle-group>
          
            <div>
                <canvas id="methodChart"> {{ methodChart }} </canvas>
            </div>
        </div>
    
        <div class="charts__container">
            <h3 class="charts__title">Factuurstatus</h3>       
            <div>
                <canvas id="statusChart"> {{ statusChart }} </canvas>
            </div>
           
        </div>
    </div>
</main>