<header class="header">
    <h3 class="header__text">Reporting /&nbsp;<b class="header__text--bold">Aimy Payments</b></h3>
</header>

<main class="dashboard">
    <!-- <div class="dashboard__container">
        <div class="dashboard__date">
            <p>Vandaag < Maandag - 16 mei 2022 > </p>
        </div>

        <form action="" class="dashboard__dropdown">
            <label for="employee">Werknemer</label>
            <select name="employee" id="employee">
                <option value="all">Allemaal</option>
            </select>
        </form>

        <div>     
            <button>Printen</button>
            <button>Exporteer</button>
        </div>

    </div> -->

    <app-chart></app-chart> 



</main>


<app-sidenav></app-sidenav>